[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Manuale Creazione Sito Accessibile e Usabile
Type=Link
URL=http://www.asphi.it/asphi/wp-content/uploads/2013/07/Manuale_Creazione_Sito.pdf
Icon=application-pdf
