body {
	margin: 5px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #303030;
}

.spacer-10 {
	height: 10px;
}
.spacer-25 {
	height: 25px;
}
.spacer-50 {
	height: 50px;
}

.tablesorter-default {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;
}

.tablesorter-default .tablesorter-filter-row td {
	border: 0;
}

table.hover-highlight tbody > tr:hover > td {
	background-color: #f4f4f4;
}


i.fa.fa-circle.danger {
	color: #d9534f;
}

.fa-circle.success {
	color: #5cb85c;
}

@media screen and (max-width: 767px) {
    .center-xs {
        text-align: center;
    }
}



